################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/OOPractice/bin
/OOPractice/obj
/OOPracticeTest/bin
/OOPracticeTest/obj
.idea
